@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root {
    /*MAIN COLORS*/
    /*
    --main-bg-color: #222E50;
    --secondary-bg-color: #007991;
    --main-text-color: #439A86;
    --secondary-text-color: #BCD8C1;
    --tertiary-text-color: #E9D985;
    */

    /*ALT COLORS*/
    /*
    --main-bg-color: #EFF1F3;
    --secondary-bg-color: #696773;
    --main-text-color: #272727;
    --secondary-text-color: #FED766;
    --tertiary-text-color: #009FB7;
    */

    /*TERTIARY COLORS*/
    
    --main-bg-color: #313638;
    --secondary-bg-color: #EEE5E9;
    --main-text-color: #A27035;
    --secondary-text-color: #EF476F;
    --tertiary-text-color: #A9FFCB;
    
}

body {
    background-color: var(--main-bg-color);
    font-family:'Montserrat';
    color: var(--main-text-color)
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a:visited {
    text-decoration-color: none;
    color: var(--main-text-color);
}

a:hover, a:focus {
    text-decoration-color: var(--secondary-text-color);
    color: var(--secondary-text-color);
    transform: scale(0.97);
}

a {
    transition: all 0.4s ease;
}

.anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}

#navbar {
    transition: all 0.6s ease-in-out;
}
#navigation {
    display: flex;
    background-color: var(--secondary-bg-color);
    align-items: center;
    min-height: 8vh;
    border-bottom: 6px solid var(--tertiary-text-color);
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    /*height: 100%;*/
    justify-content: space-between;
    margin: auto;
    max-width: 1920px;
    padding: 0 72px
}
#name {
    float: left;
    text-align: center;
}
#navigation li {
    float: left;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    height: 1000px;
}