@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*End CSS reset*/

html {
    /* Colors */
    --baby-powder: #FDFFF7;
    --outer-space-crayola: #1E212B; /*#31393C;*/
    --ultra-red: #9C3848;/*#ED6B86;*/
    --yellow-orange: #FF934F; /*#F2A541;*/
    --verdigris: #47A8BD;/*#2CA6A4;*/
    scroll-behavior: smooth;
}
body {
    color: var(--baby-powder);
    background-color: var(--outer-space-crayola);
    font-family:'Montserrat';
    margin: 0 auto;
    max-width: 70rem;
}

/** Nav Bar **/
nav {
    background-color: var(--outer-space-crayola);
    color: var(--baby-powder);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    font-family:'Montserrat';
    text-transform: uppercase;
    position: fixed;
    font-weight: 600;
    max-width: 70rem;
}

nav a {
    color: var(--baby-powder);
    text-decoration: none;
    transition: all 0.5s ease;
}

nav a:active {
    color: var(--baby-powder);
    text-decoration: none;
    transition: all 0.5s ease;
}

nav a:hover {
    color: var(--ultra-red);
    transform: scale(1.05);
}

nav li {
    transition: all 0.5s ease;
}

nav li:hover {
    transform: scale(.95);
}

#navLogo {
    text-align: center;
    transition: all 0.5s ease;
}

#navLogo:hover{
    transform: scale(.95);
}

#navLinks {
    width: 45%;
    display: flex;
    justify-content: space-around;
}
/** End Nav Bar **/

header {
    padding: 4rem 2rem 2rem 2rem;
}

header h1 {
    color: var(--yellow-orange);
    font-size: 300%;
}

header p {
    color: var(--verdigris);
    font-size: 180%;
}

.icon {
    filter:  invert(82%) sepia(30%) saturate(65%) hue-rotate(50deg) brightness(114%) contrast(105%);
    width: 1rem;
    /* transition: all 0.1s ease; */
}

.icon:hover {
    filter: invert(63%) sepia(51%) saturate(691%) hue-rotate(330deg) brightness(100%) contrast(105%);
}

a, a:active {
    color: var(--verdigris);
}

.logo a {
    display: inline-block;
    background-color: var(--baby-powder);
    border-radius: 50%;
    width: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    position: relative;
    filter: grayscale(100%);
    transform: all 0.3s ease;
}

.logo a:hover {
    filter: grayscale(0%);
}

.logo img {
    width: 3rem;
    padding: 0.5rem;
    inset: 0;
    margin: auto; 
    position: absolute;
}

h2 {
    color: var(--yellow-orange);
    padding-bottom: 1rem;
    font-size: 150%;
}

section {
    padding: 2rem;
}

.cvevent {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    padding: 2rem 0;
}

.cvevent .logo {
    grid-row: 1/3;
    margin: auto;
}

.cvevent .org {
    color: var(--verdigris);
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 120%;
}
.cvevent .date {
    /* color: var(--ultra-red); */

    grid-column: 3/4;
    grid-row: 1/2;
    text-align: right;
    font-style: italic;
}
.cvevent .role {
    color: var(--verdigris);
    grid-column: 2/3;
    grid-row: 2/3;
}
.cvevent .location {
    /* color: var(--ultra-red); */
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: right;
    font-style: italic;
}
.cvevent .desc {
    padding-top: 1rem;
    grid-column: 2/4;
    grid-row: 3/4;
    line-height: 2rem;
}

.cvevent .desc h4 {
    font-weight: 600;
}
.cvevent .desc li{
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px dashed var(--verdigris);
}

.cvevent .skills {
    padding-top: 1rem;
    grid-column: 2/4;
    grid-row: 4/5;
}

.cvportfolio {
    padding: 2rem;
    width: 80%;
    display: block;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: stretch;
}
.cvportfolio a {
    flex-basis: 40%;
}

.cvportfolio img {
    width: 100%;
    border-radius: 1rem 0 0 1rem;
}

.cvportfolio .card-details{
    margin-bottom: 3px;
    border: 2px solid #2E313B;
    border-radius: 0 1rem 1rem 0;
    flex-basis: 60%;
    /* display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 1fr; */
}

.cvportfolio .title {
    font-size: 120%;
    border-bottom: 2px dotted #2E313B;
    padding: 0.2rem;
    letter-spacing: 0.2rem;
}

.cvportfolio .desc {
    text-align: left;
    padding: 0.5rem 1rem;
}
/* .cvportfolio .card-details .desc {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 100em;
} */

p {
    line-height: 1.5;
}

.tool {
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--ultra-red);
    display: inline-block;
    background-color: var(--outer-space-crayola);
    border-radius: 0.5rem;
    font-size: 70%;
    text-transform: uppercase;
}

.language {
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--verdigris);
    display: inline-block;
    background-color: var(--outer-space-crayola);
    border-radius: 0.5rem;
    font-size: 70%;
    text-transform: uppercase;
}

@media only screen and (max-width: 1400px) {
    #navLinks {
        width: 50%;
    }

    .cvportfolio {
        flex-direction: column;
        width: 60%;
    }
    
    .cvportfolio img {
        border-radius: 1rem 1rem 0 0;
    }
    
    .cvportfolio .card-details{
        margin-bottom: 0;
        margin-top: -3px;
        border: 2px solid #2E313B;
        border-radius: 0 0 1rem 1rem;
    }
}

@media only screen and (max-width: 800px) {
    #navLinks {
        display: none;
    }
    
    .cvevent {
        grid-template-columns: 70% 30%;
    }
    .cvevent .logo {
        display: none;
    }

    .cvevent .org {
        grid-column: 1/2;
    }
    .cvevent .date {
        grid-column: 2/3;
    }
    .cvevent .role {
        grid-column: 1/2;
    }

    .cvevent .location {
        grid-column: 2/3;
    }

    .cvevent .desc {
        grid-column: 1/3;
    }

    .cvevent .skills {
        grid-column: 1/3;
    }

    .cvportfolio {
        flex-direction: column;
        width: 80%;
    }
}